{% extends 'base.html.twig' %}

{% block title %}Accueil - TP Symfony{% endblock %}

{% block body %}
<div style="text-align: center; margin-top: 100px; font-family: Arial, sans-serif;">
    <h1>{{ message }}</h1>
    <p>Tp symfony</p>
</div>
{% endblock %}
